<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="trafficLightSettings" type="CustomConfigSection.Settings.TrafficLightSettings,CustomConfigSection"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <trafficLightSettings isFeatureEnabled="true" useOfflineMode="false">
    <offlineMode isConnected="true" isReady="true">
      <subSystems>
        <add name="vaccum" isReady="true" components="one;two;three" />
        <add name="valves" isReady="true" components="one;two;three" />
      </subSystems>
    </offlineMode>
  </trafficLightSettings>
</configuration>